footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #333;
}

footer a {
  text-decoration: none;
  color: #f2f2f2;
}

/* footer */
footer.site-footer {
	text-align: center;
	color: #000;
	font-size: 0.8em;
	width:100%;
}

footer.site-footer h1, h3, p {
	color: white;
}

.site-info {
	display: inline-block;
	padding: 3em 0 3em 0;
}

.foot-head {
	display: block;
}

.foot-head a {
	padding: 1em;
}

/* footer logo */
.site-info img {
	width:30px;
	height:30px;
	display: inline-block;
}

/* footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
  background-color: #F56505;
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
  background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 15px;
}

.social-circle a {
  margin: 0;
  line-height: 20px;
  text-align: center;
}

.social-circle ul a {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #D3D3D3;
}

.social-network {
  list-style: none;
}





    
    


